<template name="ImageIncluder">
    <div class="ImageIncluder">

        <div class="d-flex align-items-center justify-content-center includer-top-picture">
            <div class="includer-picture {{ classes }}" title="{{ title }}">
                <div class="{{ picImgClass }}">
                    <img src="{{ pictureUrl }}" />
                </div>
                <div class="{{ picSvgClass }}">
                    <span class="fa-solid fa-fw {{ haveDefaultIcon }}"></span>
                </div>
            </div>
        </div>

        {{#if haveInput }}
            <div>
                <label for="image-includer-url" class="form-label">{{ i18n key="url_label" }}</label>
                <div class="d-flex align-items-center">
                    <input type="text" class="form-control js-url" id="image-includer-url" placeholder="{{ i18n key="url_ph" }}" value="{{ pictureUrl }}">
                    <button class="btn btn-sm btn-outline-primary ca-ml025 js-go" title="{{ i18n key="url_title" }}" >
                        <span class="fa-solid fa-fw fa-globe"></span>
                    </button>
                </div>
            </div>
        {{/if}}

    </div>
</template>
